.LastViewed {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkcyan;
}

.font {
    font-size: 14px;
    padding: 5px;
    border: 2px solid;
    border-radius: 30px;
    /* Lub inny preferowany rozmiar czcionki */
}