.fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.Box {
  margin-top: 120px;
  background-color: #e1f4fe;
}

.mainContainer {
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #e1f4fe;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 50px;
}


.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0;
  text-align: center;

  .header {
    width: 70%;
    font-size: 1.2rem;
    max-width: 900px;
    padding: 3rem;
    color: #333;
  }

  .header h1 {
    font-size: 2.5rem;
    color: #ff7a0d;
    margin-bottom: 0.5rem;
  }

  .header p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    color: #333;
  }

  .banner__btn {
    display: inline-flex;
    position: flex;
    text-decoration: none;
    color: orange;
    border: 2px solid orange;
    border-radius: 30px;
    transition: all 0.3s ease;
    z-index: 3;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    transition: background-color .3s;
    background-color: #ff7a0d;
    scroll-behavior: smooth;
    cursor: pointer;


    &:hover {
      background-color: rgb(4, 3, 1);
      scroll-behavior: smooth;
    }

    &_icon {
      transform: rotate(180deg);
      vertical-align: middle;
      scroll-behavior: smooth;
    }
  }
}


.AboutSection {
  padding: 3rem;
}


@media (max-width: 600px) {
  .Box {
    margin-top: 20px;
  }

  .mainContainer {
    padding: 10px;
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .Box {
    margin-top: 10px;
  }

  .mainContainer {
    padding: 5px;
    max-width: 100%;
    margin-top: 10px;
  }
}