/* Podstawowy styl */
.Box {
  margin-top: 120px;
}

.mainContainer {
  height: 100%;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .Box {
    margin-top: 20px; 
  }

  .mainContainer {
    padding: 10px; 
    max-width: 100%; 
    margin-top: 20px; 
  }
}

@media (max-width: 400px) {
  .Box {
    margin-top: 10px; 
  }

  .mainContainer {
    padding: 5px; 
    max-width: 100%; 
    margin-top: 10px; 
  }
}
