.hidden {
  opacity: 0;
  transform: translateY(20px); // Opcjonalne przesunięcie w dół przed animacją
}

// Styl animacji fade-in
.fadeIn {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.8s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); // Start z przesunięciem
    }

    100% {
      opacity: 1;
      transform: translateY(0); // Docelowa pozycja
    }
  }
}

.Box {
  margin-top: 120px;
  background-color: #e1f4fe;
}

.mainContainer {
  // height: 100%;
  // margin: 0 auto;
  min-height: calc(100vh - 740px);
  text-align: center;
  padding: 20px;
}

.offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0;
  text-align: center;

  .headerOffer {
    width: 70%;
    font-size: 1.2rem;
    max-width: 900px;
    padding: 3rem;
    color: #333;
  }

  .headerOffer h1 {
    font-size: 2.5rem;
    color: #ff7a0d;
    margin-bottom: 0.5rem;
  }

  .headerOffer p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    color: #333;
  }


  .banner__btn {
    display: inline-flex;
    position: flex;
    text-decoration: none;
    color: orange;
    border: 2px solid orange;
    border-radius: 30px;
    transition: all 0.3s ease;
    z-index: 3;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    transition: background-color .3s;
    background-color: #ff7a0d;
    scroll-behavior: smooth;
    cursor: pointer;


    &:hover {
      background-color: rgb(4, 3, 1);
      scroll-behavior: smooth;
    }

    &_icon {
      transform: rotate(180deg);
      vertical-align: middle;
      scroll-behavior: smooth;
    }
  }
}


.projects {
  display: grid;
  overflow-x: auto;
  background-color: #e1f4fe;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;

  .option {
    text-align: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

    h1 {
      font-size: 1.8rem;
      color: #333;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1rem;
      color: #666;
      margin-bottom: 1rem;
    }

    svg {
      font-size: 4rem;
      color: #ff7a0d;
      margin-bottom: 1rem;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    Button {
      font-size: 1rem;
      color: #fff;
      background-color: #000000;
      transition: background-color 0.3s;
    }

    Button:hover {
      background-color: #cc6500;
    }
  }
}


@media (max-width: 768px) {
  .mainContainer {
    padding: 10px;
  }

  .headerOffer {
    width: 90%;
    padding: 2rem;
  }

  .headerOffer h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .headerOffer h1 {
    font-size: 1.6rem;
  }

  .option h1 {
    font-size: 1.4rem;
  }

  .option svg {
    font-size: 3rem;
  }
}
