.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: calc(50vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleButton {
    margin: 20px 0;
}

.bottomButton {
    margin-top: auto;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images img {
    max-width: 100%;
    height: auto;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .container {
        height: auto; /* Ustawienie wysokości na auto dla mniejszych ekranów */
    }

    .images {
        flex-wrap: wrap; /* Zawijanie elementów w wierszu dla mniejszych ekranów */
    }

    .images img {
        width: 100%; /* Zmiana szerokości obrazków na 100% szerokości kontenera */
        margin: 5px 0; /* Zmniejszenie marginesu między obrazkami */
    }
}
